:root {
  --app-titlebar-height: 2.25rem;
}

.app-titlebar {
  height: var(--app-titlebar-height);
}

.app-fullscreen-bounds {
  top: var(--app-titlebar-height);
  right: 0;
  bottom: 0;
  left: 0;
}

[data-study-image-fullscreen-dialog] {
  top: var(--app-titlebar-height) !important;
}
