[data-rich-text-internal-links='disabled'] button[aria-label='Создать внутреннюю ссылку'] {
  display: none;
}

[data-rich-text-internal-links='disabled']
  div:has(> button[aria-label='Создать внутреннюю ссылку']) {
  grid-template-columns: minmax(0, 1fr);
}

[data-rich-text-internal-links='disabled']
  div:has(> button[aria-label='Создать внутреннюю ссылку']) + p {
  display: none;
}
